* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100dvh;
  display: flex;
  user-select: none;
}

.btn {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 5px;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  background-color: #979797;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}

.btn:hover {
  background-color: #afafaf;
}

#hiddenframe {
  position: absolute !important;
  height: 100%;
  width: 100%;

  background-color: white;
}

#hiddenframe h1 {
  position: absolute; /* 位置指定 */
  top: 50%; /* 親要素の半分下にずらす */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */
}
