#titleframe {
  position: relative;
  height: 100%;
  width: 100%;
}

#tLogo {
  position: absolute; /* 位置指定 */
  top: 37%; /* 親要素の半分下にずらす */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */

  width: 50vw;
  height: auto;
}
#tBtn {
  position: absolute; /* 位置指定 */
  top: 80%; /* 親要素の半分下にずらす */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */
}

#tkLogo {
  position: absolute; /* 位置指定 */
  bottom: 1%; /* ��要素の半分下にずらす */
  left: 1%; /* ��要素の半分右にずらす */
  /* transform: translateY(-50%) translateX(-50%);    要素自体の半分、上と左にずらす */
  width: 20vw;
  height: auto;
}

.cBtndisabled {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 5px;
  color: #6e6e6e;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  background-color: #d1d1d1;
  border-radius: 10px;
  border-color: #cacaca;
}

#cLabel {
  position: absolute; /* 位置指定 */
  top: 13%; /* 親要素の半分下にずらす */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */

  font-size: xx-large;
}

#cLabel2 {
  position: absolute; /* 位置指定 */
  top: 21%; /* 親要素の半分下にずらす */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */

  font-size: large;
  width: 100%;
  text-align: center;
}

.content::before {
  position: absolute;
  content: "";
  width: 500px;
  height: 4px;
  background-color: #14c4b5;
  top: 17%; /* 親要素の半分下にずらす */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */
}

#cRight {
  position: absolute; /* 位置指定 */
  top: 45%; /* 親要素の半分下にずらす */
  left: 75%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */

  font-size: xx-large;
  z-index: 11;
}

#cLeft {
  position: absolute; /* 位置指定 */
  top: 45%; /* 親要素の半分下にずらす */
  left: 25%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */

  font-size: xx-large;
  z-index: 11;
}

#cCheck {
  position: absolute; /* 位置指定 */
  top: 73%; /* 親要素の半分下にずらす */
  left: 50%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */
  z-index: 12;

  width: 100%;
  text-align: center;
}

#cLPhoto {
  position: absolute; /* 位置指定 */
  top: 45%; /* 親要素の半分下にずらす */
  left: 25%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */
  z-index: 10;

  width: 40%;
  height: auto;
}

#cRPhoto {
  position: absolute; /* 位置指定 */
  top: 42%; /* 親要素の半分下にずらす */
  left: 75%; /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */
  z-index: 10;

  width: 40%;
  height: auto;
}

#cLink {
  position: absolute; /* 位置指定 */
  top: 45%; /* 要素の半分下にずらす */
  left: 50%; /* 要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%); /* 要素自体の半分、上と左にずらす */
  z-index: 13;

  width: 85%;
  height: 40%;
}
